{% extends 'components/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-5 mb-4 text-center">Featured Projects</h2>
        </div>
    </div>
    {% for project in projectsData %}
    <div class="project-container {% if forloop.counter|divisibleby:2 %}reverse{% endif %}">
        <div class="project-info">
            <h1>{{ project.title }} - {{ project.type }}</h1>
            <p>{{ project.description }}</p>
            <a href="{{ project.case_study_url }}" class="btn">View Case Study</a>
        </div>
        <div class="project-image">
            <img src="{% static project.image %}" alt="{{ project.title }} screenshot">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
