#hero-section .brainContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0.3;
}

#hero-section svg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#hero-section path {
    fill: transparent;
}

#hero-section .brainPath {
    stroke: #00ff00;
    stroke-width: 1;
    opacity: 0.3;
}

#hero-section .brainCircle {
    stroke: #00FF00;
    fill: #00FF00;
    opacity: 0.3;
}

#hero-section .brainRect {
    stroke: #00FF00;
    fill: #00FF00;
    opacity: 0.2;
}

#hero-section .brainEllipse {
    stroke: #00FF00;
    fill: #00FF00;
    opacity: 0.3;
}

#hero-section .animatePaths {
    animation: goPath 3000ms alternate infinite;
}

#hero-section .animateCircles {
    animation: goCircle 3000ms alternate infinite;
}

#hero-section .animateRects {
    animation: goRect 3000ms alternate infinite;
}

@keyframes goPath {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes goRect {
    to {
        opacity: 0;
    }
}

@keyframes goCircle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
