{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<style>

</style>
<div class="container mb-5">
    {% include "pages/hero.html" %}
</div>
<div class="container mt-5">
    {% include "pages/services.html" %}
</div>

<div class="container-fluid">
    <section class="featured-projects">

        <h2 class="section-title text-light">Featured Projects</h2>

        {% for project in projectsData %}
        <div class="project-container {% if forloop.counter|divisibleby:2 %}reverse{% endif %}">
            <div class="project-info">
                <h3 class="project-title">{{ project.title }}</h3>
                <p class="project-type">{{ project.type }}</p>
                <p class="project-description">{{ project.description }}</p>
                <a href="{% url 'project_work' %}" class="btn-case-study">View Case Study</a>
            </div>
            <div class="project-image">
                <img src="{% static project.image %}" alt="{{ project.title }} screenshot">
            </div>
        </div>
        {% endfor %}

        <div class="view-more-projects">
            <a href="{% url 'project_work' %}" class="btn btn-secondary">View More Projects</a>
        </div>
    </section>
</div>
{% endblock %}
